/.htaccess
/administrator/cache/*
/administrator/components/*
!/administrator/components/com_virtuemart
/administrator/components/com_virtuemart/*
!/administrator/components/com_virtuemart/tables/
/administrator/components/com_virtuemart/tables/*
!/administrator/components/com_virtuemart/tables/userinfos.php
/administrator/help/*
/administrator/includes/*
/administrator/language/*
!administrator/language/ru-RU/
administrator/language/ru-RU/*
!/administrator/language/ru-RU/ru-RU.com_virtuemart.ini
/administrator/logs/*
/administrator/manifests/*
/administrator/modules/*
/administrator/templates/*
/administrator/index.php
/cache/*
/bin/*
/cgi-bin/*
/cli/*
/components/*
!/components/com_users
/components/com_users/*
!/components/com_users/controllers
!/components/com_virtuemart
/components/com_virtuemart/*
!/components/com_virtuemart/controllers
/components/com_virtuemart/controllers/*
!/components/com_virtuemart/controllers/user.php
!/components/com_virtuemart/assets
/components/com_virtuemart/assets/*
!/components/com_virtuemart/assets/js
/components/com_virtuemart/assets/js/*
!/components/com_virtuemart/assets/js/vmprices.js
!/components/com_virtuemart/assets/js/dynupdate.js

/images/*
!/images/sources
/images/sources/*.psd
/includes/*
/installation/*
/language/*
!/language/overrides/
/language/overrides/index.html
/layouts/*
/libraries/*
/media/*
/modules/*
!/modules/mod_virtuemart_cart/
/modules/mod_virtuemart_cart/*
!/modules/mod_virtuemart_cart/assets
/plugins/*
/templates/*
/tmp/*
/configuration.php
/index.php
/joomla.xml
/*.txt
/robots.txt.dist

/.vscode/*
!/images/sources
!/components/com_users
/components/com_users/*
!/components/com_users/controllers

# end of Joomla core

!/templates/g5_helium/
/templates/g5_helium/*
!/templates/g5_helium/admin
!/templates/g5_helium/admin/images
/templates/g5_helium/admin/images/*
!/templates/g5_helium/admin/images/is2019.png
/templates/g5_helium/admin/templates
!/templates/g5_helium/custom
/templates/g5_helium/custom/*
!/templates/g5_helium/custom/gantry
!/templates/g5_helium/custom/particles
!/templates/g5_helium/custom/scss
!templates/g5_helium/html
!templates/g5_helium/js
templates/g5_helium/js/*
!templates/g5_helium/js/vm-helpers.js
!/templates/g5_helium/images
/templates/g5_helium/images/*
!/templates/g5_helium/scss
/templates/g5_helium/scss/*
!/templates/g5_helium/scss/is2019

