/.htaccess
/administrator/cache/*
/administrator/components/*
/administrator/help/*
/administrator/includes/*
/administrator/language/*
/administrator/logs/*
/administrator/manifests/*
/administrator/modules/*
/administrator/templates/*
/administrator/index.php
/cache/*
/bin/*
/cgi-bin/*
/cli/*
/components/*
/images/*
/includes/*
/installation/*
/language/*
!/language/overrides/
/language/overrides/index.html
/layouts/*
/libraries/*
/media/*
/modules/*
/plugins/*
/templates/*
/tmp/*
/configuration.php
/index.php
/joomla.xml
/*.txt
/robots.txt.dist

/.vscode/*
!/images/sources
!/components/com_users
/components/com_users/*
!/components/com_users/controllers

# end of Joomla core

!/templates/g5_helium/
/templates/g5_helium/*
!/templates/g5_helium/admin
!/templates/g5_helium/admin/images
/templates/g5_helium/admin/images/*
!/templates/g5_helium/admin/images/is2019.png
/templates/g5_helium/admin/templates
!/templates/g5_helium/custom
/templates/g5_helium/custom/*
!/templates/g5_helium/custom/gantry
!/templates/g5_helium/custom/particles
!/templates/g5_helium/custom/scss
!templates/g5_helium/html
!/templates/g5_helium/images
/templates/g5_helium/images/*
!/templates/g5_helium/scss
/templates/g5_helium/scss/*
!/templates/g5_helium/scss/is2019

