
#g-aside {
	padding: $content-padding 0;

	@include breakpoint(mobile-only) {
		padding-bottom: 0;
	}

	.g-content {
		@include breakpoint(mobile-only) {
			margin-top: 0;
			margin-bottom: 0;
			padding-top: 0;
			padding-bottom: 0;
		}
		.platform-content {
			margin-top: 0;
			margin-bottom: 0;
			padding-top: 0;
			padding-bottom: 0;
		}
	}

	h3 {
		margin-bottom: 0.5rem;
	}
	// VMmenu
	.VMmenu {
		margin: 0;
		padding: 0;
		li {
			list-style: none;
			a {
				padding-left: 1rem;
				padding-right: 1rem;
				.wrapper {
					@include display(flex);
					@include justify-content(flex-start);
					@include align-items(center);

					.title {
						@include flex-basis(90%);
						font-size: 0.8rem;
						line-height: normal;
					}
					.fa {
						@include flex-basis(10%);
						font-size: 1rem;
						text-align: right;
					}
				}
			}
			.button-outline {
				padding-left: 1rem;
				padding-right: 1rem;
			}
		}
	}

	// Catalog link
	.catalog-link {
		@include breakpoint(no-mobile) {
			margin-bottom: 1rem;
		}
		a {
			margin: 0;
		}
	}
}
