%userButtons {
	display: block;
	width: 100%;
	margin-left: 0;
	margin-right: 0;
	text-align: center;

	@include breakpoint(no-mobile) {
		display: inline-block;
		width: auto;
		margin-left: auto;
		margin-right: auto;
	}
}

%header-2 {
	margin-bottom: 0.5rem;
	line-height: normal;
	font-size: $h3-font-size;
}

@mixin width($width: 100%, $mobileblock: true) {
	width: $width;
	@include breakpoint(small-mobile-range) {
		@if $mobileblock {
			display: block;
			width: 100%;
		}
	}
}

@mixin float($float: none, $mobileblock: true) {
	float: $float;
	margin-top: 1rem;
	margin-bottom: 1rem;
	@if $float == left {
		margin-right: 1rem;
	} @else if $float == right {
		margin-left: 1rem;
	}
	@include breakpoint(small-mobile-range) {
		@if $mobileblock {
			display: block;
			margin: 1rem auto;
			float: none;
		}
	}
}

.width25 {
	@include width(25%);
}
.width40 {
	@include width(40%);
}
.width100 {
	@include width(100%);
	display: block;
}
.floatleft {
	@include float(left);
}
.floatright {
	@include float(right);
}

.alert-inline {
	padding: 0.1rem 0.5rem !important;
}

.visuallyhidden {
	position: absolute;
	overflow: hidden;
	clip: rect(0 0 0 0);
	height: 1px;
	width: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
}
