%userButtons {
	display: block;
	width: 100%;
	margin-left: 0;
	margin-right: 0;
	text-align: center;

	@include breakpoint(no-mobile) {
		display: inline-block;
		width: auto;
		margin-left: auto;
		margin-right: auto;
	}
}

%header-2 {
	margin-bottom: 0.5rem;
	line-height: normal;
	font-size: $h3-font-size;
}
